{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="card">
  <h1>Welcome 👋</h1>
  <p>This is a simple Flask app with:</p>
  <ul>
    <li>Templates (Jinja)</li>
    <li>Static files (CSS/JS/images)</li>
    <li>Register / Login (sessions)</li>
    <li>SQLite database</li>
    <li>Tasks on the dashboard (API + JS)</li>
  </ul>

  <div class="actions">
    {% if session.get("user_id") %}
    <a class="btn" href="{{ url_for('dashboard') }}">Go to Dashboard</a>
    {% else %}
    <a class="btn" href="{{ url_for('register') }}">Register</a>
    <a class="btn" href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</div>
{% endblock %}
